* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

*:focus {
  box-shadow: none;
}
:root{
--mainColour: #2c3e50;
--secondColour: #7f8c8d;
--mainFontSize: 1em;
--headerFontSize: 1.2em;
--mainFontFamily: "Karla", sans-serif;
--secondFontFamily: "Rubik", sans-serif;
--textColour:  #f0f3f3;
}

body, html {
  color: var(--mainColour);
  font-size: var(--mainFontSize);
  line-height: var(--headerFontSize);
  font-family: var(--mainFontFamily);
}


/* nav*/

nav {
  background-color: var(--mainColour);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1999;
  text-align: center;
}

ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  left: 20%;
}

li a {
  float: left;
  text-align: center;
  font-size: var(--headerFontSize);
  width: 9vw;
  text-decoration: none;
  color:var(--textColour);
  padding: 20px 15px;
  text-transform: uppercase;
  font-family: var(--secondFontFamily);
}

li a:hover {
  color:var(--secondColour);
}

.logo {
  font-size: 1.3em;
}

/*section logo*/
@keyframes headers {
  0% { transform:translateX(100%); }
  100% { transform:translateX(0%); }
}

@keyframes pictures {
  0% { background-image: url("../images/cover.jpg");}
  25% { background-image: url("../images/klify.jpg");}
  50% { background-image: url("../images/P1012655.jpg");}
  75% { background-image: url("../images/P1012548.jpg");}


}

.splash {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/cover.jpg");
  height: 100vh;
  animation:pictures 30s linear infinite;

}

.page-intro {
  margin: auto;
  text-align: center;
  color: var(--textColour);
  
}

.main-title {
  margin-top: -15vh;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3em;
  letter-spacing: 2px;
  font-family: var(--secondFontFamily);
  animation:headers 1s linear 1;
}

.main-subtitle {
  margin: 5vh 0 10vh 0;
  font-weight: 200;
  font-family: var(--secondFontFamily);
  font-size: var(--headerFontSize);
  animation:headers 1s linear 1;
}

/*section about*/


.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10vh;
}

.section-title {
  position: relative;
  margin: 0 0 7vh 0;
  text-align: center;
  font-family: var(--mainFontFamily);
  text-transform: uppercase;
}

i {
  color:var(--textColour);
  font-size: var(--mainFontSize);
}

.about {
  background-color: #2c3e50;
  color: #f0f3f3;
  padding: 10vh 0;
}

.section-intro {
  margin: 30px 0 0 0;
  text-align: justify;
}

/* section hobby*/

.hobby {
  max-width: 1900px;
  margin: 0 auto;
  padding: 10vh 0;
  background-color: #f0f3f3;
}

.hobby .item {
  height: 25vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hobby .item:nth-of-type(1) {
  background-image: url(../images/unnamed.jpg);
}

.hobby .item:nth-of-type(2) {
  background-image: url(../images/gozo.jpg);
}

.hobby .item:nth-of-type(3) {
  background-image: url(../images/popeye.jpg);
}

.hobby .item:nth-of-type(4) {
  background-image: url(../images/marsaxlox.jpg);
}

.hobby .item p {
  font-family: "Rubik", sans-serif, sans-serif;
  color: #f0f3f3;
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 05px 0;
}

@media (min-width: 533px) {
  .hobby .item {
    float: left;
    width: 70vh;
    height: 70vh;
    margin: 5vh 5vh;
    left: 30vh;
    position: relative;
  }
}

@media (min-width: 768px) {
  .hobby .item p {
    font-size: 30px;
    padding: 15px 10px;
  }
}

@media (min-width: 1024px) {
  .hobby .item p {
    /*padding: 0;*/
    line-height: 70vh;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
  }
  .hobby .item:hover p {
    opacity: 1;
  }
  .hobby .item {
    background-size: 100%;
    transition: 1s;
    overflow: hidden;
  }
  .hobby .item:hover {
    background-size: 130%;
  }
}

@media (min-width: 1600px) {
  .hobby .item p {
    font-size: 40px;
  }
}

/* section motto*/

.slogan {
  text-align: center;
  background-image: url(../images/P1012655.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #f0f3f3;
}

.slogan h1 {
  font-family: "Rubik", sans-serif, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10vh 0 0 0;
}

.slogan p {
  font-family: "Karla", sans-serif, sans-serif;
  font-size: 18px;
}

.slogan p.author {
  font-size: 12px;
  margin-top: 20px;
}

.slogan .bg {
  padding: 0 10px 30px 10px;
}

@media (orientation: landscape) {
  .slogan p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .slogan .bg {
    padding: 0 10px  50px 10px;
  }
  .slogan h1 {
    font-size: 1.5em;
    margin-bottom: 35px;
  }
  .slogan p {
    font-size: 26px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .slogan p.author {
    font-size: 18px;
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .slogan .bg {
    padding: 0 10px 80px 10px;
  }
  .slogan h1 {
    font-size: 1.5em;
    margin-bottom: 55px;
  }
  .slogan p {
    font-size: 1em;
    width: 50%;
  }
  .slogan p.author {
    font-size: 1.2em;
    margin-top: 40px;
  }
}


/* section features*/

.features-wrapper {
  display: flex;
}

.features {
  background-color: #f0f3f3;
}

.feature {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  margin: 24px 0 0 0;
}

.feature i {
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  color: #ffffff;
  font-size: 2em;
  background-color: #7f8c8d;
  border-radius: 50%;
  box-shadow: 2px 2px #4e5758;
}

.feature-title {
  margin: 24px 0 0 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.feature-description {
  margin: 24px 0 24px 0;
  padding: 0 24px;
}

.section-feature-title {
  position: relative;
  padding: 24px 0;
  text-align: center;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}

/*section socials*/
.socials {
  width: 100%;
  text-align: center;
  background-color: #2c3e50;
}

.social-header {
  text-transform: uppercase;
  color: #f0f3f3;
}

.socialdivs {
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.fb {
  width: 10vh;
  height: 10vh;
  float: left;
}

.fb:hover {
  background-color: #7f8c8d;
}

.ig {
  width: 10vh;
  height: 10vh;
  float: left;
}

.ig:hover {
  background-color: #7f8c8d;
}

.fb a {
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  color: #f0f3f3;
  font-size: 2em;
}

.ig a {
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  color: #f0f3f3;
  font-size: 2em;
}

.rights {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5vh;
  background-color: #f0f3f3;
}

.socials_section {
  width: 898px;
  left: -104.2px;
  position: relative;
}

.socials {
  flex-wrap: wrap;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 41px;
}

.socials_section {
  flex-wrap: wrap;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 968px;
  text-align: center;
  padding: 41px;
}

.socials_link {
  text-align: left;
  width: 100%;
  display: inline-block;
  height: 60vh;
  left: 10vw;
  box-shadow: 16px 22px 9px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  background-image: url(../images/P1012451.jpg);
  background-size: cover;
  background-position: center;
  color: #f0f3f3;
  font-weight: bold;
  font-size: 2em;
  padding: 60px;
  font-family: 'Sacramento', cursive;
}

.socials_link:hover {
  color: #f0f3f3;
}

.socials_par {
  font-size: 4.5em;
  font-family: 'Sacramento', cursive;
  text-align: left;
}

.socials_link i {
  text-align: right;
  line-height: 50vh;
  height: 50vh;
  width: 50vh;
  font-size: 2em;
  position: relative;
  top: -100px;
  left: 100px;
}

