* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

*:focus {
  box-shadow: none;
}
:root{
--mainColour: #2c3e50;
--secondColour: #7f8c8d;
--mainFontSize: 1em;
--headerFontSize: 1.2em;
--mainFontFamily: "Karla", sans-serif;
--secondFontFamily: "Rubik", sans-serif;
--textColour:  #f0f3f3;
}

body, html {
  color: var(--mainColour);
  font-size: var(--mainFontSize);
  line-height: var(--headerFontSize);
  font-family: var(--mainFontFamily);
}

main {
  background-color: var(--textColour);
}


/* nav*/

nav {
  background-color: var(--mainColour);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1999;
  text-align: center;
}

ul {
  float: left;
  width: 100%;
  list-style: none;
  position: relative;
  left: 15%;
}

li a {
  float: left;
  text-align: center;
  font-size: var(--headerFontSize);
  width: 10vw;
  text-decoration: none;
  color:var(--textColour);
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: var(--secondFontFamily);
  line-height: 1.5em;
  font-weight: 300;
}

.insta, .pinterest {
  width: 4vh;
  font-size: 2em;
  margin: 0 2vh;
}

li a i:hover {
  color:var(--secondColour);
}

li a:hover {
  color:var(--secondColour);
}

.logo {
  font-size: 1.3em;
}

/*section logo*/
@keyframes headers {
  0% {
   transform: translate(100%, -50%)
  }
  3% {
   transform: translate(100%, -50%)
  }

  6% {
   transform: translate(0, -50%);
  }

  30% {
   transform: translate(0, -50%);
  }

  33% {
   transform: translate(-100%, -50%);
  }

  100% {
   transform: translate(-100%, -50%);
  }

 }

@keyframes pictures {
  0% { background-image: url("../images/cover.jpg");}
  25% { background-image: url("../images/klify.jpg");}
  50% { background-image: url("../images/P1012655.jpg");}



}

.splash {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/cover.jpg");
  height: 100vh;
  animation:pictures 30s linear infinite;
  overflow: hidden;

}

.page-intro {
  margin: auto;
  text-align: center;
  color: var(--textColour);
  overflow: hidden;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
   height: 30vh;
   top: 50%;
   left: 50%;
  
}

.main-title {
  font-weight: 200;
  font-size: 3em;
  letter-spacing: 2px;
  width: 100%;
  font-family: var(--secondFontFamily);
  animation: headers 30s linear infinite;
  transform: translate(100%, -50%);
  text-align: center;
  position: absolute;
   top: 50%;
   left: 0;
}

.page-intro h1:nth-of-type(2) {
  animation-delay: 10s;
 }

 .page-intro h1:nth-of-type(3) {
  animation-delay: 20s;
 }

 .page-intro a:nth-of-type(2) {
  animation-delay: 10s;
 }

 .page-intro a:nth-of-type(3) {
  animation-delay: 20s;
 }

 .bluebutton
{
	background-color: transparent;
	padding: 10px 25px 10px 25px;
	color: #efefef;
	font-size: 2em;
	text-decoration: none;
  width: 15vh;
  margin-top: 10vh;
  animation: headers 30s linear infinite;
  transform: translate(100%, -50%);
  text-align: center;
  position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   font-weight: 300;
  
}

.bluebutton:hover
{

  color: var(--mainColour);}
	

 /*

.main-subtitle {
  margin: 5vh 0 10vh 0;
  font-weight: 200;
  font-family: var(--secondFontFamily);
  font-size: 2em;
  animation:headers 1s linear 1;*/


/*section about*/

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10vh;
}

.section-title {
  position: relative;
  margin: 0 0 5vh 0;
  text-align: center;
  font-family: var(--mainFontFamily);
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 300;

}

i {
  color:var(--textColour);
  font-size: var(--mainFontSize);
  margin-left: 5vh;
}

.about {
  background-color:var(--mainColour);
  color:var(--textColour);
  padding: 15vh 15vh 0 15vh;
  height: 60vh;
  font-family: var(--mainFontFamily);
  line-height: 1.5em;
}

.section-intro {
  margin: 5vh 0 0 0;
  text-align: justify;
}


/* section hobby*/

.hobby {
  max-width: 1900px;
  margin: 0 auto;
  padding: 10vh 0;
  background-color:var(--textColour);
}

.hobby .item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.hobby .item:nth-of-type(1) {
  background-image: url(../images/unnamed.jpg);
  margin-left: 8vh;
}

.hobby .item:nth-of-type(2) {
  background-image: url(../images/gozo.jpg);
}

.hobby .item:nth-of-type(3) {
  background-image: url(../images/popeye.jpg);
}

.hobby .item:nth-of-type(4) {
  background-image: url(../images/marsaxlox.jpg);
  margin-left: 8vh;
}

.hobby .travels {
  background-color: var(--textColour);
  color: var(--mainColour);
  align-content: center;
}

.hobby .item:nth-of-type(6) {
  background-image: url(../images/marsaxlox.jpg);
}

.hobby .item:nth-of-type(7) {
  background-image: url(../images/marsaxlox.jpg);
  margin-left: 8vh;
}

.hobby .item:nth-of-type(8) {
  background-image: url(../images/marsaxlox.jpg);
}

.hobby .item:nth-of-type(9) {
  background-image: url(../images/marsaxlox.jpg);
}

.hobby .item p {
  font-family: var(--mainFontFamily);
  color: var(--textColour);
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: var(--headerFontSize);
  padding: 0 5vh 5vh;
}


.hobby .travels p {
  font-family: var(--mainFontFamily);
  color: var(--mainColour);
  text-shadow: none;
  font-size: 3em;
  padding: 0 5vh 5vh;
  text-align: center;
  margin-top: 15vh;
  line-height: 1em;
  font-weight: 600;

}

.hobby .item  a, .hobby .travels a{
  text-decoration: none;
}
@media (min-width: 533px) {
  .hobby .item {
    width: 50vh;
    height: 40vh;
    background-position: 50% 50%;
    margin: 0.5vh;
    overflow: hidden;
  }

  .hobby .travels {
    width: 50vh;
    height: 40vh;
    background-position: 50% 50%;
    margin: 0.5vh;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .hobby .item p {
    font-size: 30px;
    padding: 15px 10px;
  }
}

@media (min-width: 1024px) {
  .hobby .item p {
    /*padding: 0;*/
    line-height: 70vh;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
  }
  .hobby .item:hover p {
    opacity: 1;
  }
  .hobby .item {
    background-size: 100%;
    transition: 1s;
    overflow: hidden;
  }
  .hobby .item:hover {
    background-size: 130%;
  }
}

@media (min-width: 1600px) {
  .hobby .item p {
    font-size: 40px;
  }
}

/* section motto*/

.slogan {
  text-align: center;
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--textColour);
  height: 60vh;
}

.slogan h1 {
  font-family: var(--mainFontFamily);
  font-size: 3em;
  text-transform: uppercase;
  padding: 10vh 0 0 0;
  font-weight: 300;
}

.slogan p {
  font-family: var(--secondFontFamily);
  font-size: 1var(var(--mainFontSize));
  font-weight: 300;
}

.slogan p.author {
  font-size: 0.8em;
  margin-top: 10vh;
}

.slogan .bg {
  padding: 0 10px 30px 10px;
}

@media (orientation: landscape) {
  .slogan p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .slogan .bg {
    padding: 0 10px  50px 10px;
  }
  .slogan h1 {
    font-size: 1.5em;
    margin-bottom: 35px;
  }
  .slogan p {
    font-size: 26px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .slogan p.author {
    font-size: 18px;
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .slogan .bg {
    padding: 0 10px 80px 10px;
  }
  .slogan h1 {
    font-size: 3em;
    margin-bottom: 55px;
    

  }
  .slogan p {
    font-size: 2em;
    width: 50%;
    line-height: 1.5em;
  }
  .slogan p.author {
    font-size: 1.5em;
    margin-top: 40px;
  }
}


/* section features*/


.features {
  background-color: var(--textColour);
  height: 90vh;
  width: 100%;
  position: relative;
}

.feature {
  top: 10vh;
  width: 50%;
  text-align: center;
  position: absolute;
  left: 10vh;
}



.feature-title {
  margin: 24px 0 0 0;
  font-size: 3em;
  font-weight: 300;
  font-family: var(--mainFontFamily);
  text-transform: uppercase;
  text-align: center;
  
}

.feature-description {
  margin: 24px 0 24px 0;
  padding: 5vh 24px;
  line-height: 2em;
  font-size: var(--mainFontSize);
  font-family: var(--mainFontFamily);
  text-align: justify;
}


.image {
  margin-top: 10vh;
  position: absolute;
  right: 25vh;
  background-size: cover;
  background-position: center;
  background-image: url(../images/IMG-0119.jpg);
  height: 60vh;
  width: 25%;

}
/*section socials*/





.rights {
  
  text-align: center;
  font-family: var(--mainFontFamily);
  font-size: var(--mainFontSize);
  padding: 5vh;

  color: var(--textColour);
  background-color: var(--mainColour);
}

/*section last*/
.photoContainer{
  width: 100%;
  height: 100vh;
  position: relative;
}
.photo, .photo2, .photo3, .photo4 {
  background-image: url(../images/klify.jpg);
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.photo {
  left:0;
  top: 0;
}
.photo2 {
  right: 0;
  top: 0;
}

.photo3 {
  bottom: 0;
  left: 0;
}

.photo4 {
  bottom: 0;
  right: 0;
}